<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="refresh" content="20"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>vSOUND|Admin</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="icon" href="/static/favicon.png">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">v-Admin</a>
    <span class="mr-auto"></span>
      <form class="form-inline">
        <button class="btn btn-outline-success mr-sm-3 mr-2" type="button" onclick="location.href = '/control/search/'">Hinzufügen</button>
        <button class="btn btn-danger" type="button" onclick="location.href = '/logout/'">Abmelden</button>
      </form>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom justify-content-center">
      <form class="form-inline">
        <div class="btn-group" role="group" aria-label="Transport Control">
          <button type="button" class="btn btn-danger" onclick="location.href = '/ctl/prev'">Zurück</button>
          {% if status.state == 'play' %}
          <button type="button" class="btn btn-success" onclick="location.href = '/ctl/paus'">Pause</button>
          {% else %}
          <button type="button" class="btn btn-warning" onclick="location.href = '/ctl/play'">Play</button>
          {% endif %}
          <button type="button" class="btn btn-danger" onclick="location.href = '/ctl/next'">Weiter</button>
        </div>
      </form>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-start">
    <div class="form-inline">
      <div class="btn-group">
        <button type="button" class="btn btn-warning px-5" onclick="location.href = '/ctl/stop'">Stop</button>
        <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Weitere optionen</span>
        </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/ctl/clrp">Wiedergabeliste löschen</a>
        <a class="dropdown-item" href="/ctl/updt">Bibliothek aktualisieren</a>
        <a class="dropdown-item" href="/ctl/rscn">Bibliothek neu einlesen</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-danger btn-sm ml-2">-</button>
      <button type="button" class="btn btn-success btn-sm">+</button>
    </div>
  </div>
</nav>

<div class="progress mx-3">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ status.volume }}%" aria-valuenow="{{ status.volume }}" aria-valuemin="0" aria-valuemax="100">{{ status.volume }}%</div>
</div>

<hr>

<b>---------------</b><br>
<p>Status: {{ status.volume }}% | {{ status.state }} | {{ status.songid }} </p>
<b>---------------</b><br>
<p>Server: {{ stats.songs }} Songs | {{ stats.playtime }}s Spielzeit</p>
<b>---------------</b><br>
<p>Spielt gerade </b>{{ song }}</b></p>

<a href="/vol=025">25</a><br>
<a href="/vol=050">50</a><br>
<a href="/vol=075">75</a><br>
<a href="/vol=100">100</a><br>

<br>
<br>
<table>

{% for entry in playlist %}

<tr>
  <td>{{ entry.id }}</td>
  <td><a href="/id={{ entry.id }}">{{ entry.title }}</a></td>
  <td>{{ entry.artist }}</td>
</tr>


{% endfor %}

</table>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>
