<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="refresh" content="20"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>vSOUND|Admin</title>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
  <link rel="icon" href="/static/favicon.png">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">vSound-Admin</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavBar">
      <form class="form-inline">
        <button class="btn btn-outline-primary mr-sm-2 btn-sm" type="button" onclick="location.href = '/ctl/updt'">Aktualisieren</button>
        <button class="btn btn-outline-primary mr-sm-2 btn-sm" type="button" onclick="location.href = '/ctl/rscn'">Neu einlesen</button>

        <button class="btn btn-outline-success mr-sm-2" type="button" onclick="location.href = '/control/search/'">Hinzufügen</button>
        <button class="btn btn-outline-danger mr-sm-2" type="button" onclick="location.href = '/logout/'">Abmelden</button>
      </form>

    </div>

</nav>





<a href="/ctl/play">Play</a>
<a href="/ctl/paus">Pause</a>
<a href="/ctl/next">Weiter</a>
<a href="/ctl/prev">Zurück</a>
<a href="/ctl/stop">Stop</a>
<a href="/ctl/clrp">Playlist löschen</a>
<a href="/ctl/stop">Biblithek aktualisieren</a>
<a href="/ctl/stop">Bibliothek neu einlesen</a>
<br><a href="/control/search/">Suchen</a>
<br><a href="/logout/">ABMELDEN</a>
<br>
<b>---------------</b><br>
<p>Status: {{ status.volume }}% | {{ status.state }} | {{ status.songid }} </p>
<b>---------------</b><br>
<p>Server: {{ stats.songs }} Songs | {{ stats.playtime }}s Spielzeit</p>
<b>---------------</b><br>
<p>Spielt gerade </b>{{ song }}</b></p>

<a href="/vol=025">25</a><br>
<a href="/vol=050">50</a><br>
<a href="/vol=075">75</a><br>
<a href="/vol=100">100</a><br>

<br>
<br>
<table>

{% for entry in playlist %}

<tr>
  <td>{{ entry.id }}</td>
  <td><a href="/id={{ entry.id }}">{{ entry.title }}</a></td>
  <td>{{ entry.artist }}</td>
</tr>


{% endfor %}

</table>

<script src="/static/jquery.js"></script>
<script src="/static/bootstrap.js"></script>
</body>
</html>
