<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="refresh" content="20"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>vSOUND|FEHLER</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="icon" href="/static/favicon.png">
</head>

<body>
  <div class="container mt-1">
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>



<script src="/static/js/jquery.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>


<form method="post" action="/login/">
 {% csrf_token %}
