<a href="/ctl/play">Play</a>
<a href="/ctl/paus">Pause</a>
<a href="/ctl/next">Weiter</a>
<a href="/ctl/prev">Zurück</a>
<a href="/ctl/stop">Stop</a>
<a href="/ctl/clrp">Playlist löschen</a>
<a href="/ctl/stop">Biblithek aktualisieren</a>
<a href="/ctl/stop">Bibliothek neu einlesen</a>

<br>
<br>
<b>---------------</b><br>

<a href="/vol=025">25</a><br>
<a href="/vol=050">50</a><br>
<a href="/vol=075">75</a><br>
<a href="/vol=100">100</a><br>

<br>
<br>
<table>

{% for entry in playlist %}

<tr>
  <td>{{ entry.id }}</td>
  <td><a href="/id={{ entry.id }}">{{ entry.title }}</a></td>
  <td>{{ entry.artist }}</td>
</tr>


{% endfor %}

</table>
