{% extends "vote/base.html" %}

{% block content %}

<div class="fluid-container justify-content-center mb-5 pb-5">
  {% for item, per, col in data %}
  <div class="card mx-auto my-2 text-white bg-dark" style="width: 20rem;">
    <div class="card-header">
      <h4 class="card-title text-success">{{item.song_title}}</h4>
    </div>
    <div class="card-body">
      <h4 class="card-text">{{item.song_artist}}</h4>
      <p class="text-warning">{{item.v_count}} Stimme(n)</p>
      <hr class="bg-white">
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated {{col}}" role="progressbar" aria-valuenow="{{per}}" aria-valuemin="0" aria-valuemax="100" style="width: {{per}}%"></div>
        </div>
    </div>
    <div class="card-footer">
      {% if active %}
      <a class="btn btn-primary" href="/votefor/pk={{item.pk}}/">Abstimmen</a>
      {% else %}
        <button class="btn btn-primary" disabled>Bereits abgestimmt</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>


{% endblock content %}
